#site-header {
  .top-bar {
    background: #042047;
    color: #fff;
    padding: {
      top: 10px;
      bottom: 10px;
    };

    .right-panel {
      ul {
        li {
          display: inline-block;

          a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            display: block;

            &:after {
              content: " | ";
            }
          }

          &:last-child {
            a {
              padding-left: 0;

              &:after {
                content: "";
              }
            }
          }
        }
      }
    }

    .left-panel {
      @extend .right-panel;
      direction: ltr;

      ul {
        li {
          a {
            &:after {
              content: "";
            }

            i {
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  .main {
    background: url("images/header-bg.png") #1c3659;

    .logo-panel {
      margin-top: 30px;

      .last-posts {
        color: #fff;
        font-size: 12px;
      }
    }

    .search-panel {
      position: relative;

      .search-p {
        input {
          width: 100%;
          background: #607ea8;
          border: none;
          border-radius: 5px;
          padding: 7px;
          outline: none !important;
          color: #fff;
          font: {
            size: 13px;
            weight: 300;
          }

          &::placeholder {
            color: #fff;
          }
        }

        button {
          background: #042047;
          color: #fff;
          padding: 5px;
          border-radius: 4px 0 0 4px;
          border: none;
          position: absolute;
          left: 12px;
          outline: none;
        }
      }

      .azan {
        margin-top: 5px;

        header {
          background: $primary_color;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-radius: 5px 5px 0 0;

          h5 {
            font-size: 13px;
            color: #fff;
            margin-bottom: 0;
          }

          select {
            font-size: 12px;
            outline: none;
          }
        }

        .content {
          background: {
            color: $secondary_color;
            image: url("images/mosque.png");
            repeat: no-repeat;
            position: 10px 30px;
          }
          padding: 10px;
          border-radius: 0 0 5px 5px;
          color: #fff;

          p {
            font-size: 13px;
            margin-bottom: 5px;
          }

          table {
            width: 100%;

            tbody {
              tr {
                td {
                  font-size: 13px;
                  padding: 2px 0;

                  &:first-child {
                    width: 70px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main-menu {
    background: $primary_color;

    nav {
      ul {
        li {
          display: inline-block;
          position: relative;

          a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            padding: 10px;
            display: block;
            transition-duration: 0.2s;

            &:hover {
              color: #17adec;
            }
          }

          &.menu-item-has-children {
            > a {
              &:after {
                content: "\e936";
                font-family: icons;
                color: #fff;
                float: left;
                margin-right: 10px;
                margin-top: 3px;
                transition-duration: 0.3s;
              }
            }
            ul {
              position: absolute;
              background: #f7f7f7;
              width: 200px;
              border-radius: 5px;
              display: none;
              top: 41px;

              li {
                display: block;
                a {
                  color: #111;
                }
                ul.sub-menu {
                  right: 101%;
                  top: 0;
                }
              }
            }
            &.open {
              > a {
                &:after {
                  transform: rotate(180deg);
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }

}