#site-main {
  .recent-posts {
    display: flex;

    .recent-box {
      width: 33.7%;

      &:first-child, &:last-child {
        width: 34%;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          width: 50%;
          display: inline-block;
          padding: 2px;

          a {
            display: block;
            position: relative;

            img {
              max-width: 100%;
              height: auto;
            }

            span {
              background: rgba(72, 72, 72, 0.8);
              font-size: 13px;
              position: absolute;
              bottom: 0;
              right: 0;
              color: #fff;
              width: 100%;
              padding: 7px;
            }
          }
        }
      }

      &.one-post {
        ul {
          li {
            width: 100%;
          }
        }
      }

    }
  }

  @import "sidebar";

  .main-content {
    .title {
      background: {
        color: #f1f1f1;
        image: url("images/title-bg.png");
      };
      margin-bottom: 15px;

      strong {
        background: #fff;
        padding: 3px 5px 3px 10px;
        font-size: 13px;
        border-right: 2px solid #2c4f7e;
        display: inline-block;
      }
    }

    .post-card {
      display: flex;
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 15px;
      &:last-child {
        border-bottom: none;
      }
      section {
        width: 40%;

        &:last-child {
          margin-right: 15px;
          width: 100%;

          small {
            color: #878585;
            font-size: 11px;
          }

          h2 {
            color: #313131;
            font-size: 17px;
            margin: {
              top: 3px;
              bottom: 10px;
            }
            font-weight: bolder;
          }

          p {
            color: #464646;
            font-size: 13px;
            line-height: 24px;
            text-align: justify;
          }
        }
      }
    }
  }
}