.widget-panel {
  .widget {
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(189, 189, 189, 0.4);
    margin-bottom: 25px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background: $head_bg_color;
      border-radius: 5px 5px 0 0;

      h4 {
        font-size: 14px;
        color: #fff;
        margin-bottom: 0;
      }

      span, a {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        padding: 4px 10px;
        border-radius: 3px;
        font-size: 12px;
        text-decoration: none;
      }
    }

    .content {
      padding: 10px;

      table {
        width: 100%;

        &.price-list {
          tr {
            border-bottom: 1px solid #f1f1f1;

            &:last-child {
              border-bottom: none;
            }

            td {
              padding: 5px;
              font-size: 14px;

              &:last-child {
                text-align: left;

                span {
                  display: inline-block;
                }

                &:before {
                  content: "\e82f";
                  font-family: "icons", sans-serif;
                  margin-top: -2px;
                  color: #777;
                  margin-left: 10px;
                }

                &.up {
                  &:before {
                    content: "\e878";
                    color: #1fb42d;
                    margin-top: -4px;
                  }
                }

                &.down {
                  &:before {
                    content: "\e877";
                    color: #d84545;
                    margin-top: -1px;
                  }
                }
              }
            }
          }
        }
      }

      .most-view-list {
        li {
          display: block;
          list-style: none;

          a {
            display: flex;
            color: #696969;
            align-items: center;
            font-size: 12px;
            padding: 6px;
            font-weight: 500;
            transition-duration: 0.3s;

            &:before {
              content: "\e849";
              font-family: "icons", sans-serif;
              margin-left: 6px;
            }

            &:hover {
              color: #2c4f7e;
            }
          }

          &.video {
            a {
              &:before {
                content: "\f16a";
              }
            }
          }

          &.image {
            a {
              &:before {
                content: "\e821";
              }
            }
          }
        }
      }
    }
  }
}